* {
    box-sizing: border-box;
  }

  #title,#rules,#score,#jewelbox,#title2,#player{
    margin-top: 8px;
}

#title,#score,#title2,#player{
    font-weight: bold;
}

#title{
    color: rgb(46, 74, 155);
}

#rules{
    font-size: 20px;

}
    
#win{
    margin-left: 10px; 
    font-size: 20px;
}

#score{
    font-size: 26px;
}

#subtitle{
    font-size: 44px;
    
}

#player,#title2{    
    font-size: 22px;
}

body{
    background-image: url("../images/glass-1462395_1920.jpg");
    opacity: .8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
#jewelbox{
   position: relative;
   right: 11px;
}